# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

PaddleOCR/inference/
PaddleOCR/inference_results/
PaddleOCR/output/
PaddleOCR/deploy
PaddleOCR/pretrain_models/
PaddleOCR/tmp/
PICK/saved
PICK/pretrained_models
PICK/data
result/
result_imgs/
result_json/
result_trans/
modules/PaddleOCR
modules/PICK

modules/yolov5/weights
modules/vietocr/weights

*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook
.pre-commit-config.yaml
.style.yapf

build/
dist/cd ..
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
debug/

workerlog.*